<nav class="navbar navbar-fluid navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<!--allows for navbar-right links to collapse-->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Logo redirects to dashboards instead of homepage when signed in -->
			<% if user_signed_in? %>
			<%= link_to 'KidKeeper', telemetry_path(current_user.telemetry), class: 'navbar-brand' %>
			<% else %> 
			<%= link_to 'KidKeeper', root_path, class: 'navbar-brand' %>
			<% end %>

		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<!-- non-collapse navbar order -->
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<% if user_signed_in? %>
				<li><%= link_to current_user.email,  telemetry_path(current_user.telemetry) %></li>
				<li><%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE' %></li>
				<% else %>
				<li><%= link_to 'Sign Up', new_user_registration_path %></li>

				<li><%= link_to 'Sign In', new_user_session_path %></li>
				<% end %>
			</ul>

			<!-- collapsed navbar order -->
			<ul class="nav navbar-nav navbar-right visible-xs">
				<% if user_signed_in? %>
				<li><%= link_to current_user.email,  telemetry_path(current_user.telemetry) %></li>
				<li><%= link_to 'Sign Out', destroy_user_session_path %></li>
				<% else %>
				<li><%= link_to 'Sign In', new_user_session_path %></li>

				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
				<% end %>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>