<!DOCTYPE html>
<html>
<head>
  <title>KidkeeperRails</title>

  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

</head>
<body>

<%= render 'layouts/header' %>

<%= render 'layouts/messages' %>

<%= yield %>

</body>
</html>
